<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data </a></p>
    </div>

    <!--Latest Mars News -->
    <div class="row" id="latest-news">
      <div class="col-md-12" style="background-color:paleturquoise;">
        <h3 class="heading"><strong>Latest Mars News</strong></h3>
        <h4><strong>{{mars_info.news.title}}</strong></h4>
        <p>{{mars_info.news.text}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7" id="featured_image">
        <h3 class="heading"><strong>Featured Mars Image</strong></h3>
        <img src={{mars_info.featured_image}} alt="Featured Image" width="700px" height="500px">
      </div>

      <div class="col-md-1" style="background-color:white;">
        <!--This is an empty column for design-->
      </div>

      <!-- Code for Mars Facts table-->
      <div class="col-md-4">
        <!--Running the code in safe mode allows the to_html to be read as code-->
        <h4><strong>Mars Facts</strong></h4>
        {{mars_info.mars_facts|safe}}   
         
      </div>

    </div>

    

  </div>
</body>

</html>

