<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data </a></p>
    </div>

    <!--Latest Mars News -->
    <div class="row" id="latest-news">
      <div class="col-md-12" style="border-style: outset;">
        <h3 class="heading"><strong>Latest Mars News</strong></h3>
        <h4><strong>{{mars_info.news.title}}</strong></h4>
        <p>{{mars_info.news.text}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7" id="featured_image">
        <h3 class="heading"><strong>Featured Mars Image</strong></h3>
        <img src={{mars_info.featured_image}} alt="Featured Image" width="700px" height="500px">
      </div>

      <div class="col-md-1" style="background-color:white;">
        <!--This is an empty column for design-->
      </div>

      <!-- Code for Mars Facts table-->
      <div class="col-md-4" style="border-style: outset;margin-top: 20px;">
        <!--Running the code in safe mode allows the to_html to be read as code-->
        <h4 style="padding-top:20px;"><strong>Mars Facts</strong></h4>
        {{mars_info.mars_facts|safe}}   
      </div>
    </div>
    <article>
      <div class="row">
        <div class="col-md-12">
          <h3 style="text-align:center;">Mars Hemispheres</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" style="border-style: outset;">
          <img src={{mars_info.hemispheres[0].img_url}} alt="Cerberus" width="500px" height="500px">
          <p><strong>{{mars_info.hemispheres[0].title}}</strong></p>
        </div>
        <div class="col-md-6" style="border-style: outset;">
          <img src={{mars_info.hemispheres[1].img_url}} alt="Schiaparelli" width="500px" height="500px">
          <p><strong>{{mars_info.hemispheres[1].title}}</strong></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" style="border-style: outset;">
          <img src={{mars_info.hemispheres[2].img_url}} alt="Syrtis" width="500px" height="500px">
          <p><strong>{{mars_info.hemispheres[2].title}}</strong></p>
        </div>
        <div class="col-md-6" style="border-style: outset;"> 
          <img src={{mars_info.hemispheres[3].img_url}} alt="Valles" width="500px" height="500px">
          <p><strong>{{mars_info.hemispheres[3].title}}</strong></p>
        </div>
      </div>

    </article>
      
      
    </div>

    

  </div>
</body>

</html>

